{"openapi":"3.0.0","info":{"title":"Kumbaya Search Service","version":"1.0.0","description":"Full-text search service for tokens and pools.\n\n## Overview\n\nThis service provides fast, fuzzy search across all indexed tokens and pools from the Envio indexer.\n\n## Features\n\n- **Fuzzy matching** - Handles typos (e.g., \"ethreum\" matches \"ethereum\")\n- **Prefix search** - Match partial words\n- **Field boosting** - Symbol matches rank higher than names\n- **Chain filtering** - Filter results by chain ID\n\n## Endpoints\n\n- `GET /api/v1/search` - Search both tokens and pools\n- `GET /api/v1/search/tokens` - Search tokens only\n- `GET /api/v1/search/pools` - Search pools only\n- `GET /api/v1/search/stats` - Index statistics\n\n## Supported Chains\n\n| Chain | Chain ID |\n|-------|----------|\n| MegaETH Mainnet | 4326 |\n| MegaETH Testnet | 6343 |\n","contact":{"name":"Kumbaya","url":"https://kumbaya.xyz"}},"servers":[{"url":"https://search.kumbaya.xyz","description":"Production server"}],"tags":[{"name":"Health","description":"Service health and readiness probes"},{"name":"Search","description":"Full-text search for tokens and pools"}],"components":{"schemas":{},"parameters":{}},"paths":{"/health":{"get":{"tags":["Health"],"summary":"Health check","description":"Returns service health status","responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"indexed":{"type":"boolean"},"tokenCount":{"type":"number"},"poolCount":{"type":"number"}},"required":["status","indexed","tokenCount","poolCount"]}}}}}}},"/ready":{"get":{"tags":["Health"],"summary":"Readiness check","description":"Returns whether the service is ready to handle requests","responses":{"200":{"description":"Service is ready","content":{"application/json":{"schema":{"type":"object","properties":{"ready":{"type":"boolean","enum":[true]}},"required":["ready"]}}}},"503":{"description":"Service is not ready","content":{"application/json":{"schema":{"type":"object","properties":{"ready":{"type":"boolean","enum":[false]},"reason":{"type":"string"}},"required":["ready","reason"]}}}}}}},"/api/v1/search":{"get":{"tags":["Search"],"summary":"Search tokens and pools","description":"Full-text search across tokens and pools with fuzzy matching and typo tolerance. Use filter params to narrow results by labels.","parameters":[{"schema":{"type":"string","minLength":1,"maxLength":256,"description":"Search query (token symbol, name, or address)","example":"ETH"},"required":true,"description":"Search query (token symbol, name, or address)","name":"q","in":"query"},{"schema":{"type":"string","description":"Filter by chain ID","example":"4326"},"required":false,"description":"Filter by chain ID","name":"chainId","in":"query"},{"schema":{"type":"string","default":"20","description":"Maximum results per category (1-100, default 20)","example":"20"},"required":false,"description":"Maximum results per category (1-100, default 20)","name":"limit","in":"query"},{"schema":{"type":"string","description":"Filter tokens/pools by bluechip status"},"required":false,"description":"Filter tokens/pools by bluechip status","name":"isBluechip","in":"query"},{"schema":{"type":"string","description":"Filter tokens by trending status"},"required":false,"description":"Filter tokens by trending status","name":"isTrending","in":"query"},{"schema":{"type":"string","description":"Filter tokens by Fire protocol status"},"required":false,"description":"Filter tokens by Fire protocol status","name":"isFireToken","in":"query"},{"schema":{"type":"string","description":"Filter pools by Fire protocol status"},"required":false,"description":"Filter pools by Fire protocol status","name":"isFirePool","in":"query"},{"schema":{"type":"string","description":"Filter tokens by verified status"},"required":false,"description":"Filter tokens by verified status","name":"isVerified","in":"query"},{"schema":{"type":"string","enum":["verified","trusted","all"],"description":"Visibility filter: 'verified' = bluechip + verified only, 'trusted' = bluechip + verified + fire protocol, 'all' = no filtering"},"required":false,"description":"Visibility filter: 'verified' = bluechip + verified only, 'trusted' = bluechip + verified + fire protocol, 'all' = no filtering","name":"visibility","in":"query"}],"responses":{"200":{"description":"Search results","content":{"application/json":{"schema":{"type":"object","properties":{"tokens":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"chainId":{"type":"number"},"decimals":{"type":"number"},"totalValueLockedUSD":{"type":"string"},"volumeUSD":{"type":"string"},"isBluechip":{"type":"boolean"},"isTrending":{"type":"boolean"},"isFireToken":{"type":"boolean"},"isVerified":{"type":"boolean"},"fireCreator":{"type":"string","nullable":true},"fireGraduated":{"type":"boolean","nullable":true},"imageUrl":{"type":"string","nullable":true}},"required":["id","address","symbol","name","chainId","decimals","totalValueLockedUSD","volumeUSD","isBluechip","isTrending","isFireToken","isVerified","fireCreator","fireGraduated","imageUrl"]}},"pools":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"chainId":{"type":"number"},"feeTier":{"type":"number"},"token0Symbol":{"type":"string"},"token0Name":{"type":"string"},"token0Address":{"type":"string"},"token1Symbol":{"type":"string"},"token1Name":{"type":"string"},"token1Address":{"type":"string"},"totalValueLockedUSD":{"type":"string"},"volumeUSD":{"type":"string"},"isBluechip":{"type":"boolean"},"isFirePool":{"type":"boolean"},"isVerified":{"type":"boolean"}},"required":["id","address","chainId","feeTier","token0Symbol","token0Name","token0Address","token1Symbol","token1Name","token1Address","totalValueLockedUSD","volumeUSD","isBluechip","isFirePool","isVerified"]}},"query":{"type":"string"},"chainId":{"type":"number"}},"required":["tokens","pools","query"]}}}},"400":{"description":"Invalid query","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/search/tokens":{"get":{"tags":["Search"],"summary":"Search tokens only","description":"Search tokens by symbol, name, or address. Use filter params to narrow by labels.","parameters":[{"schema":{"type":"string","minLength":1,"maxLength":256,"description":"Search query","example":"PEPE"},"required":true,"description":"Search query","name":"q","in":"query"},{"schema":{"type":"string","description":"Filter by chain ID"},"required":false,"description":"Filter by chain ID","name":"chainId","in":"query"},{"schema":{"type":"string","default":"20","description":"Maximum results (1-100, default 20)"},"required":false,"description":"Maximum results (1-100, default 20)","name":"limit","in":"query"},{"schema":{"type":"string","description":"Filter by bluechip status"},"required":false,"description":"Filter by bluechip status","name":"isBluechip","in":"query"},{"schema":{"type":"string","description":"Filter by trending status"},"required":false,"description":"Filter by trending status","name":"isTrending","in":"query"},{"schema":{"type":"string","description":"Filter by Fire protocol status"},"required":false,"description":"Filter by Fire protocol status","name":"isFireToken","in":"query"},{"schema":{"type":"string","description":"Filter by verified status"},"required":false,"description":"Filter by verified status","name":"isVerified","in":"query"},{"schema":{"type":"string","enum":["verified","trusted","all"],"description":"Visibility filter: 'verified' = bluechip + verified only, 'trusted' = bluechip + verified + fire protocol, 'all' = no filtering"},"required":false,"description":"Visibility filter: 'verified' = bluechip + verified only, 'trusted' = bluechip + verified + fire protocol, 'all' = no filtering","name":"visibility","in":"query"}],"responses":{"200":{"description":"Token search results","content":{"application/json":{"schema":{"type":"object","properties":{"tokens":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"chainId":{"type":"number"},"decimals":{"type":"number"},"totalValueLockedUSD":{"type":"string"},"volumeUSD":{"type":"string"},"isBluechip":{"type":"boolean"},"isTrending":{"type":"boolean"},"isFireToken":{"type":"boolean"},"isVerified":{"type":"boolean"},"fireCreator":{"type":"string","nullable":true},"fireGraduated":{"type":"boolean","nullable":true},"imageUrl":{"type":"string","nullable":true}},"required":["id","address","symbol","name","chainId","decimals","totalValueLockedUSD","volumeUSD","isBluechip","isTrending","isFireToken","isVerified","fireCreator","fireGraduated","imageUrl"]}},"query":{"type":"string"},"chainId":{"type":"number"}},"required":["tokens","query"]}}}}}}},"/api/v1/search/pools":{"get":{"tags":["Search"],"summary":"Search pools only","description":"Search pools by token symbols, names, or addresses. Use filter params to narrow by labels.","parameters":[{"schema":{"type":"string","minLength":1,"maxLength":256,"description":"Search query","example":"WETH/USDC"},"required":true,"description":"Search query","name":"q","in":"query"},{"schema":{"type":"string","description":"Filter by chain ID"},"required":false,"description":"Filter by chain ID","name":"chainId","in":"query"},{"schema":{"type":"string","default":"20","description":"Maximum results (1-100, default 20)"},"required":false,"description":"Maximum results (1-100, default 20)","name":"limit","in":"query"},{"schema":{"type":"string","description":"Filter by bluechip status (both tokens must be bluechip)"},"required":false,"description":"Filter by bluechip status (both tokens must be bluechip)","name":"isBluechip","in":"query"},{"schema":{"type":"string","description":"Filter by Fire protocol pool status"},"required":false,"description":"Filter by Fire protocol pool status","name":"isFirePool","in":"query"},{"schema":{"type":"string","description":"Filter by verified status (both tokens must be verified)"},"required":false,"description":"Filter by verified status (both tokens must be verified)","name":"isVerified","in":"query"},{"schema":{"type":"string","enum":["verified","trusted","all"],"description":"Visibility filter: 'verified' = bluechip + verified only, 'trusted' = bluechip + verified + fire protocol, 'all' = no filtering"},"required":false,"description":"Visibility filter: 'verified' = bluechip + verified only, 'trusted' = bluechip + verified + fire protocol, 'all' = no filtering","name":"visibility","in":"query"}],"responses":{"200":{"description":"Pool search results","content":{"application/json":{"schema":{"type":"object","properties":{"pools":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"chainId":{"type":"number"},"feeTier":{"type":"number"},"token0Symbol":{"type":"string"},"token0Name":{"type":"string"},"token0Address":{"type":"string"},"token1Symbol":{"type":"string"},"token1Name":{"type":"string"},"token1Address":{"type":"string"},"totalValueLockedUSD":{"type":"string"},"volumeUSD":{"type":"string"},"isBluechip":{"type":"boolean"},"isFirePool":{"type":"boolean"},"isVerified":{"type":"boolean"}},"required":["id","address","chainId","feeTier","token0Symbol","token0Name","token0Address","token1Symbol","token1Name","token1Address","totalValueLockedUSD","volumeUSD","isBluechip","isFirePool","isVerified"]}},"query":{"type":"string"},"chainId":{"type":"number"}},"required":["pools","query"]}}}}}}},"/api/v1/search/stats":{"get":{"tags":["Search"],"summary":"Get search index stats","description":"Returns index statistics and sync status","responses":{"200":{"description":"Index statistics","content":{"application/json":{"schema":{"type":"object","properties":{"tokenCount":{"type":"number"},"poolCount":{"type":"number"},"lastSyncTime":{"type":"string","nullable":true},"syncInProgress":{"type":"boolean"}},"required":["tokenCount","poolCount","lastSyncTime","syncInProgress"]}}}}}}},"/api/v1/autocomplete":{"get":{"tags":["Search"],"summary":"Get autocomplete suggestion","description":"Fast autocomplete endpoint optimized for high traffic. Returns the top matching token symbol for prefix completion.","parameters":[{"schema":{"type":"string","minLength":1,"maxLength":256,"description":"Search query prefix","example":"ET"},"required":true,"description":"Search query prefix","name":"q","in":"query"},{"schema":{"type":"string","description":"Filter by chain ID","example":"4326"},"required":false,"description":"Filter by chain ID","name":"chainId","in":"query"}],"responses":{"200":{"description":"Autocomplete suggestion","content":{"application/json":{"schema":{"type":"object","properties":{"suggestion":{"type":"object","nullable":true,"properties":{"completion":{"type":"string","description":"The full text to complete to (symbol or name)"},"symbol":{"type":"string"},"name":{"type":"string"},"address":{"type":"string"},"matchType":{"type":"string","enum":["symbol","name"],"description":"Whether the completion matched the symbol or name"}},"required":["completion","symbol","name","address","matchType"]},"query":{"type":"string"}},"required":["suggestion","query"]}}}}}}},"/api/v1/tokens":{"get":{"tags":["Tokens"],"summary":"List tokens","description":"List tokens without search query. Use filter params to narrow by labels like bluechip, trending, etc. Use filterMode=or to match ANY filter instead of ALL.","parameters":[{"schema":{"type":"string","description":"Filter by chain ID","example":"4326"},"required":false,"description":"Filter by chain ID","name":"chainId","in":"query"},{"schema":{"type":"string","default":"20","description":"Maximum results (1-100, default 20)","example":"20"},"required":false,"description":"Maximum results (1-100, default 20)","name":"limit","in":"query"},{"schema":{"type":"string","description":"Filter by bluechip status"},"required":false,"description":"Filter by bluechip status","name":"isBluechip","in":"query"},{"schema":{"type":"string","description":"Filter by trending status"},"required":false,"description":"Filter by trending status","name":"isTrending","in":"query"},{"schema":{"type":"string","description":"Filter by Fire protocol status"},"required":false,"description":"Filter by Fire protocol status","name":"isFireToken","in":"query"},{"schema":{"type":"string","description":"Filter by verified status"},"required":false,"description":"Filter by verified status","name":"isVerified","in":"query"},{"schema":{"type":"string","enum":["verified","trusted","all"],"description":"Visibility filter: 'verified' = bluechip + verified only, 'trusted' = bluechip + verified + fire protocol, 'all' = no filtering"},"required":false,"description":"Visibility filter: 'verified' = bluechip + verified only, 'trusted' = bluechip + verified + fire protocol, 'all' = no filtering","name":"visibility","in":"query"},{"schema":{"type":"string","enum":["and","or"],"default":"and","description":"Filter mode: 'and' requires all conditions, 'or' requires any condition"},"required":false,"description":"Filter mode: 'and' requires all conditions, 'or' requires any condition","name":"filterMode","in":"query"}],"responses":{"200":{"description":"Token list","content":{"application/json":{"schema":{"type":"object","properties":{"tokens":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"symbol":{"type":"string"},"name":{"type":"string"},"chainId":{"type":"number"},"decimals":{"type":"number"},"totalValueLockedUSD":{"type":"string"},"volumeUSD":{"type":"string"},"isBluechip":{"type":"boolean"},"isTrending":{"type":"boolean"},"isFireToken":{"type":"boolean"},"isVerified":{"type":"boolean"},"fireCreator":{"type":"string","nullable":true},"fireGraduated":{"type":"boolean","nullable":true},"imageUrl":{"type":"string","nullable":true}},"required":["id","address","symbol","name","chainId","decimals","totalValueLockedUSD","volumeUSD","isBluechip","isTrending","isFireToken","isVerified","fireCreator","fireGraduated","imageUrl"]}},"chainId":{"type":"number"}},"required":["tokens"]}}}}}}}}}